---
import 'remark-github-alerts/styles/github-colors-light.css';
import 'remark-github-alerts/styles/github-colors-dark-class.css';
// or
// import "remark-github-alerts/styles/github-colors-dark-media.css"
import 'remark-github-alerts/styles/github-base.css';
import '../styles/global.css';

import AppHeader from '../components/header.svelte';
import background from '../assets/background.svg';
import DocsSidebar from '../components/docs-sidebar.svelte';
import PageToc from '../components/page-toc.svelte';

import { twMerge } from 'tailwind-merge';
import { withBase } from '@utils/path';
import type { MarkdownInstance, UserGuideFrontMatter } from 'types';

type Props = {
  class?: string;
  headings?: {
    depth: number;
    text: string;
    slug: string;
  }[];
  url: string;
};

const files = Object.values(
  import.meta.glob<MarkdownInstance<UserGuideFrontMatter>>(
    '../pages/docs/user-guide/**/*.md',
    {
      eager: true,
    }
  )
);

const { class: className = '', headings, url } = Astro.props;
// console.log('Headings:', headings);
const currentPath = url.replace(import.meta.env.BASE_URL, '');
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={withBase('/favicon.svg')} />
    <meta name='generator' content={Astro.generator} />
    <title>Mortar</title>
  </head>
  <body class='min-h-screen bg-black flex flex-col text-white h-fit'>
    <AppHeader />
    <main
      class={twMerge(
        'p-4 leading-loose flex-1 flex gap-12 items-start justify-start',
        className
      )}
    >
      <DocsSidebar markdownFiles={files} currentPath={currentPath} />
      <div class='p-4 backdrop-blur-sm rounded size-full leading-10'>
        <slot />
      </div>
      <PageToc headings={headings} />
    </main>
    <img
      class='fixed top-0 left-0 w-full h-full bg-white/5 -z-10 blur-[100px] pointer-events-none brightness-150'
      src={background.src}
      alt=''
      fetchpriority='high'
    />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
